<h1 id="tableLabel">{{ title }}</h1>

<p>This component fetching data of one person.</p>

<p *ngIf="!personForm"><em>Loading...</em></p>

<form [formGroup]="personForm" *ngIf="personForm">

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" formControlName="name" placeholder="name">
  </div>

  <div class="form-group">
    <label for="family">Family</label>
    <input id="family" type="text" class="form-control" formControlName="family" placeholder="family">
  </div>

  <button class="btn btn-primary btn-cw mt-3"  (click)="onSubmit()">Save</button>
  <button class="btn btn-primary btn-cw mt-3 ml-3" (click)="onCancel()">Cancel</button>
</form>
